.title {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .mainbox {
    margin-bottom: 30px;
    display: flex;
    gap: 100px;
  }
  
  .info {
    color: rgb(249, 6, 177);
    font-weight: 700;
  }
  
  .infoValue {
    color: rgb(129, 13, 75);    
    font-weight: 500;
  }