.title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    letter-spacing: 0.08em;
    font-size: 72px;
    color: rgb(249, 6, 177);
  }
  
  .container {
    margin: 0 250px;
  }